@tailwind base;

* {
  @apply font-medium;
}

body::before,
body::after {
  content: '';
  @apply pointer-events-none absolute inset-0 z-[9999] h-full w-full opacity-30;
}

body::before {
  background: #000000;
  filter: url(#grainy);
}

@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply m-0 max-h-[1.6rem] list-none leading-tight;
}

.footnotes {
  @apply mt-6 border-t border-gray-200 pt-4 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}
